<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114621335348-bema9ahdld2f1avcnmv7gd05m6d35s0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114621335348-bema9ahdld2f1avcnmv7gd05m6d35s0e</string>
	<key>API_KEY</key>
	<string>AIzaSyCEy4JqwyUHOyvhEt84ZatAFcFd6hkM8gI</string>
	<key>GCM_SENDER_ID</key>
	<string>114621335348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mycoolnoteesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mycoolnoteesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114621335348:ios:caefc0f51dfe8315cd4761</string>
</dict>
</plist>